.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  background-color: #0D0D0D;

  border-top: 1px solid #0000004D;
  width: 100%;

  position: relative;
  z-index: 20000;
}

.menu button {
  padding: 2px 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: none;
  border: none;

  color: #989899;

  cursor: pointer;
}

.menu button p {
  font-size: 10px;
}

.menu button.active {
  color: #9FBFE5FE;
}