.mining-status {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 12px;
  gap: 10px;
  width: 100%;
}

.mining-status > div {
  padding: 8px 14px;
  font-size: 10px;
}

.mining-status > div:first-of-type {
  padding: 0px 14px;
}

.circle {
  width: 8px;
  height: 8px;
  border-radius: 8px;
}

.mining {
  display: flex;
  align-items: center;
  gap: 6px;
}

.circle.green {
  background-color: #05a21e;
}

.circle.red {
  background-color: #ff0000;
}

.miners {
  display: flex;
  align-items: center;
  gap: 4px;
}

.users {
  display: flex;
  align-items: center;
  gap: 4px;
}
