a {
  text-decoration: none;
  color: inherit;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
}

.header-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 90%;
  padding: 45px 0;
}

.stats-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  font-size: 10px;
}

.loading-spinning {
  animation: spinAnimation 2s linear infinite;
}

@keyframes spinAnimation {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

h1 span {
  color: #8da8ff;
}

.title {
  margin: 0;
}

.connection {
  text-align: center;
  background-color: #22262d;
  border: 1px solid #474648;
  border-radius: 16px;
  padding: 4px 16px;
  font-size: 14px;
  margin: 0;
}

.connection span {
  color: #9fbfe5fe;
}

.power {
  width: 20vh;
  height: 20vh;
  min-width: 100px;
  min-height: 100px;
  background-image: radial-gradient(#282930 50%, #585757 100%);
  outline: none;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 5;
}

.power-icon {
  width: 10vh;
  height: 10vh;
  min-width: 50px;
  min-height: 50px;
}

.not-connected,
.connected {
  font-weight: 700;
  margin: 0;

  text-align: center;
}

.connected {
  color: #ffffff;
}

.auto-btn {
  background-color: transparent;
  color: white;
  display: flex;
  align-items: center;
  border: none;
  gap: 10px;
  font-weight: 700;
  cursor: pointer;
}

.home-location {
  color: #b1b1b2;
  font-size: 11px;
  margin: 0;
  text-align: center;
}

.region-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid white;
  border-radius: 32px;
  padding: 16px;
  background-color: transparent;
  height: 56px;
  cursor: pointer;
  gap: 12px;
  position: relative;
  z-index: 5;
}

.region-btn div {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
}

.auto-select-btn {
  width: 318px;
  height: 76px;
  display: flex;
  justify-content: space-between;
  background-color: #ffffff1f;
  align-items: center;
  border: none;
  color: white;
  padding: 16px 30px;
  border-radius: 16px;
  cursor: pointer;
}

.auto-select-btn div p:nth-child(2) {
  font-size: 11px;
  color: #b1b1b2;
}

.rs-wrapper {
  width: 70%;
}

.rs-wrapper > p {
  color: #e4e2e4;
  font-size: 11px;
  text-align: center;
}

.region-selector {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.wallet-info-container {
  display: flex;
  flex-direction: column;
  gap: 8px;

  height: 31px;

  transition: height 0.2s ease;

  overflow: hidden;
}

.wallet-info-container.open {
  height: 130px;
}

.wallet-info-container svg {
  transform: rotate(90deg);
}

.wallet-info-container.open svg {
  transform: rotate(270deg);
}

.wallet-info-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-right: 6px;

  cursor: pointer;
}

.wallet-info-heading p {
  width: fit-content;
}

.wallet-info-container hr {
  border-color: #3f3f40;
}

.wallet-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.wallet-info > p {
  font-weight: 600;
  width: initial;
}

.wallet-info p {
  margin: 0;
}

.wallet-info button {
  background: 0;
  border: 0;

  display: flex;
  align-items: center;
  gap: 8px;

  color: #ffffff;

  cursor: pointer;

  margin-top: 4px;
}

.wallet-info img {
  width: 16px;
  height: 16px;

  margin-bottom: 2px;
}

.current-mined {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 22px;
}

.current-mined p,
.current-mined strong {
  width: initial;
  margin: 0;
  font-size: 14px;
}

.welcome {
  display: flex;
  flex-direction: column;
}

/* .welcome p {
  margin: 0;
  text-align: center;
}

.welcome p:first-child {
  font-size: 24px;
  font-weight: 700;
}

.welcome p:first-child span {
  color: #9FBFE5FE;
}

.welcome p:last-child {
  font-size: 11px;
} */

.auto-rs-power {
  background: #d7e5f01f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 16px;
  border-radius: 16px;
}

.auto-rs-power p {
  margin: 0;
}

.auto-rs-power div p:first-child {
  font-weight: 700;
  margin-bottom: 4px;
}

.auto-rs-power div p:last-child {
  font-size: 12px;
  color: #b1b1b2;
}

.vip-button {
  width: 80%;
  border: 0;
  background: #2a3038;
  padding: 12px 8px;
  border-radius: 100px;
  font-weight: 700;
  color: #ffffff;
  cursor: "pointer";
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
