.skeleton {
  background: linear-gradient(90deg, #202020 25%, #444 50%, #202020 75%);
  background-size: 200% 100%;
  animation: shimmer 1.2s ease-in-out infinite; /* faster animation for better visibility */
  border-radius: 4px;
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
