.nft-info {
  display: flex;
  flex-direction: column;
  gap: 8px;

  margin-bottom: 40px;
}

.main-card {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: #191919;
  padding: 16px;
  border-radius: 16px;
}

.main-card span {
  font-size: 14px;
  color: #989899;
}

.main-card p {
  font-size: 24px;
}

.main-card div:last-child {
  text-align: right;
}

.buttons {
  display: flex;
  gap: 8px
}

.buttons button {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 16px 8px;
  border: 0;
  border-radius: 16px;
  font-weight: 700;

  cursor: pointer;
}

.buttons button:first-child {
  background-color: #282930;
  color: #FFFFFF;
}

.buttons button:last-child {
  background-color: #9FBFE533;
  color: #9FBFE5FE;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 26px;

  margin-bottom: 36px;
}

.option-group {
  text-align: left;
}

.option-group h3 {
  margin-bottom: 8px;
}
