.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

h1 span {
  color: #8da8ff;
}

.title {
  margin: 0;
}

.connection {
  background-color: #22262d;
  border: 1px solid #474648;
  border-radius: 16px;
  padding: 4px 16px;
  font-size: 14px;
  margin: 0;
}

.connection span {
  color: #79f8ff;
}

.power {
  width: 144px;
  height: 144px;
  background-image: radial-gradient(#262626 50%, #585757 100%);
  box-shadow: 0 0 20px #85838387;
  outline: none;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.not-connected,
.connected {
  font-weight: 700;
  margin: 0;
}

.connected {
  color: #79f8ff;
}

.auto-btn {
  background-color: transparent;
  color: white;
  display: flex;
  align-items: center;
  border: none;
  gap: 10px;
  font-weight: 700;
  cursor: pointer;
}

.home-location {
  color: #b1b1b2;
  font-size: 11px;
  margin: 0;
}

.region-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid white;
  border-radius: 32px;
  padding: 16px;
  background-color: transparent;
  width: 252px;
  height: 56px;
  cursor: pointer;
}

.region-btn div {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
}

.auto-select-btn {
  width: 318px;
  height: 76px;
  display: flex;
  justify-content: space-between;
  background-color: #ffffff1f;
  align-items: center;
  border: none;
  color: white;
  padding: 16px 30px;
  border-radius: 16px;
  cursor: pointer;
}

.auto-select-btn div p:nth-child(2) {
  font-size: 11px;
  color: #b1b1b2;
}

p {
  text-align: center !important;
}
