.account-list {
  display: flex;
  flex-direction: column;
  gap: 16px;

  margin-bottom: 40px;
}

.account-wrapper {
  height: 203px;
  overflow: hidden;

  transition: height .20s ease;
}

.account-wrapper .account-main-card img {
  transform: rotate(90deg);

  transition: transform .12s ease-in-out;
}

.account-wrapper.active .account-main-card img {
  transform: rotate(270deg);
}

.account-wrapper.active {
  /* should create the animation */
  height: 600px;
}

.account-wrapper.active .account-main-card {
  background-color: #3F3F40;
}

.account-main-card {
  height: 203px;
  padding: 16px;
  border-radius: 16px;

  background-color: #282930;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  transition: background-color .12s ease-out;
  cursor: pointer;

  position: relative;
  z-index: 1;
}

.account-main-card div:last-child {
  width: 100%;
  padding-right: 12px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.account-wrapper:not(.active) .account-main-card:hover {
  background-color: #222324;
}

.account-info {
  width: 100%;
  display: flex;
  justify-content: space-between;

  color: #676768;
  font-size: 12px;
}

.account-info p {
  width: fit-content;
}

.account-main-card h3 {
  width: 102px;
  font-size: 24px;

  text-align: left;
}

.info-card {
  margin-top: -14px;
  padding-top: 14px;

  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.account-wrapper.active .info-card {
  background-color: #191919;
}

.info-wrapper {
  text-align: left;
  padding: 12px 16px;
}

.info-wrapper > p {
  margin-bottom: 8px;
}

.info-wrapper div {
  display: flex;
  justify-content: space-between;

  padding-left: 16px;
}

.info-wrapper div p:first-child {
  color: #989899;
}

.info-wrapper div p:last-child {
  text-align: right;
}

.copy-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  text-align: left;
}

.copy-div button {
  cursor: pointer;
}

.copy-div span {
  font-size: 12px;
  color: #676768;
  display: block;
  width: 240px;
}

.copy-div:not(:last-child) div span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.button-list {
  display: flex;
  align-items: center;
  gap: 6px;
}

.button-list img {
  filter: grayscale(1);
}

.button-list svg {
  width: 20px;
  height: 20px;
}

.button-list .hidden svg {
  margin-top: 2px;
}

.copy-text {
  display: flex;
  flex-direction: column;
  gap: 4px;
}