.application-list {
  margin-bottom: 36px;
}

.how-to-setup {
  margin-top: 36px;
  text-align: left;
}

.how-to-setup h3 {
  font-size: 24px;
}

.how-to-setup p {
  color: #989899;
  margin-top: 8px;
}