.save-button {
  width: 100%;

  padding: 16px 8px;
  border: none;
  border-radius: 16px;

  background-color: #9FBFE533;

  cursor: pointer;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;

  margin: 40px 0 96px;
}

.form-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form-item.current-form {
  margin-bottom: 24px;
}

.form-item p {
  text-align: left;
  font-size: 16px;
  font-weight: bold;
}

.form-item > div {
  background: #262626;
  border-radius: 16px;

  padding: 18px 16px;

  display: flex;
}

.form-item > div input {
  flex: 1;

  background: none;
  border: none;

  color: #989899;
  font-size: 12px;
  font-weight: bold;
}

.form-item button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-item button.not-visible svg {
  transform: translateY(1px);
}

.form-item button svg {
  width: 22px;
  height: 22px;
}

.save-button p {
  color: #9FBFE5FE;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}